# Python cache files
.pytest_cache
__pycache__
*.py[cod]

# Coverage reports
.coverage
htmlcov

# Database files
**/data/*.sqlite
**/data/*.db

# VSCode settings
.vscode/

# Virtual environment
.venv/
venv/

# ...existing entries...
data/test-database.sqlite